*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li a{
    text-decoration: none;
}
.flex-container{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: auto;
    width: 100%;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}  
header{
    background-color: rgb(86, 7, 182);
    max-width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
}
.lista{
    display: flex;
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    
}
.lista li a{
    color: white;
   
}
.apresentacao{
    display: flex;
    flex-direction: row;
    height: 550px;
    justify-content: space-between;
    align-items: center;
    color:rgb(86, 7, 182) ;
}

.apresentacao h1{
    font-size: 50px;
    color:rgb(86, 7, 182);
    margin-bottom: 7px;
}
.apresentacao a{
    background-color:rgb(86, 7, 182);
    color: white;
    text-decoration: none;
    padding: 10px;
   max-width: 100px;
    border-radius: 20px;
    display: block;
    margin-top: 50px;
    text-align: center;
}
.texto{
    font-size: 30px;
    margin-bottom: 7px;
}
.paragrafo{
   font-size: 15px;
   margin-top: 10px;
   text-align: justify;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   max-width: 85%;
}
.container-externo{
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color:rgb(86, 7, 182);
    padding: 30px;
}

.lista-servicos{
    display: flex;
    justify-content: space-between;
    width: 900px;
    align-self: center;
}
#servicos h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 25px;
    margin-top: 10px;
    color: rgb(255, 252, 252);
    margin-left: 10px;
}
.lista-servicos div{
    margin-top: 20px;
}
.lista-servicos p{
    text-align: center;
    margin-top: 20px;
    height: 50px;
    color: rgb(255, 252, 252);
}
.lista-servicos a{
    margin-left: 30px;
    color: rgb(86, 7, 182);
    margin-top: 50px;
    background-color: rgb(255, 252, 252);
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    margin-bottom: 20px;
}

.planos{
    display: flex;
    height: 400px;
    margin-top: 60px;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
}
.item-plano1,.item-plano2,.item-plano3{
    border: 3px solid rgb(86, 7, 182);
    width: 250px;
    height: 250px;
    text-align: center;
    margin-top: 30px;
}
.item-plano li{
    margin-top:10px;
    text-align: justify;
    margin-left: 50px;
    list-style: square;
    color:rgb(86, 7, 182) ;
}
.item-plano{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item-plano h3{
    margin-top: 30px;

}
.linha{
    width: 200px;
    background-color: rgb(86, 7, 182);
    height: 4px;
    margin-top: 9px;
    margin-left: 25px;
   
}
.item-plano2{
    height: 300px;
}
.item-plano3{
    height: 350px;
}
.item-plano a{
    background-color: rgb(86, 7, 182);
    color: rgb(245, 246, 246);
    width: 100px;
   align-self: center;
   border-radius: 15px;
   text-decoration: none;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 10px;
}


